<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/components/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
        <!--[if IE 7]>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome-ie7.min.css" rel="stylesheet">
        <![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" />
        <style>
        /** quick fix because bootstrap <pre> has a background-color. */
        pre code { background-color: inherit; }

        </style>
    </head>
    <body>
        <header>
            <div class="navbar navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li><a href="#"><img src="{{ site.url }}/images/logo.jpg" alt="apie" /></a></li>
                        <li class="slogan">No Trolls Allowed</li>
                        <li class="menu_item"><a href="{{ site.url }}/apie"><i class="icon-beaker icon-large green"></i> Apie</a></li>
                        <li class="menu_item"><a href="{{ site.url }}/programa"><i class="icon-fire icon-large orange"></i> Programa</a></li>
                        <li class="menu_item"><a href="{{ site.url }}/vieta"><i class="icon-road icon-large black"></i> Vieta</a></li>
                        <li class="menu_item"><a href="{{ site.url }}/duk">DUK <i class="icon-question icon-large red"></i></a></li>
                        <li class="menu_item"><a href="{{ site.url }}/kontaktai"><i class="icon-envelope icon-large blue"></i> Kontaktai</a></li>
                    </ul>
                </div>
            </div>

        </header>
        <div class="mainContent container">
            <div class="row-fluid">
                <div class="span8">
                    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                </div>
                <!--<<div class="span4 sidebar">
                    <div class="well">
                        <h4>{{ site.title }}{% if site.subtitle %} <small>{{ site.subtitle }}</small>{% endif %}</h4>
                    </div>
                    div class="well sidebar-nav">
                        <h4>Remėjai</h4>
                        <ul class="nav">
                            <li><a href="http://sculpin.io">sculpin.io</a></li>
                            <li><a href="http://twitter.com/getsculpin">@getsculpin</a></li>
                        </ul>
                    </div>
                </div>-->
            </div>
        </div>
        <footer class="container">
            &copy; {{ site.title }}
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.url }}/components/jquery/jquery.min.js"><\/script>')</script>
        <script src="{{ site.url }}/components/bootstrap/js/bootstrap.min.js"></script>
        {% block scripts %}
        {% endblock %}

        {% if site.google_analytics_tracking_id %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
        <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
