{% extends "default" %}
{% block content_wrapper %}
    
    <div class="span8">
      {% block content %}{% endblock %}
      {% block html %}{% endblock %}
    </div>
    <div class="span4">
      <h3>Rėmėjai</h3>
      
      <div class="sponsor">
          <center>
          <a href="http://www.estina.com/" title="Web development"><img src="{{ site.url }}/assets/img/partner/estina.jpg " alt="Estina"/></a>
          <hr>
          <a href="http://www.akl.lt/" title="Atviras Kodas Lietuvai"><img src="{{ site.url }}/assets/img/partner/akl.jpg " alt="Atviras Kodas Lietuvai"/></a>
          <hr>
          </center>
        {#
        <ul class="">
          <li>
            <a href="#">draugas Pawka</a>
          </li>
          <li>
            <a href="#">draugas Kuusas</a>
          </li>
          <li>
            <a href="#">draugas Darles</a>
          </li>
        </ul>
        #}
      </div>
   </div>

{% endblock %}
